.contenedorgrid{
    display: grid;
    padding: 0;
    margin: 0;
    
    height: 80px;/*alto de los fr*/
    /* width: 800px; /*ancho de los fr*/
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    'header header header'
    'listado listado listado'  /* 'asi1 pepito asi2'*/
    'footer footer footer';
    gap: 10px;
}

.nav-bg{
    grid-area: header;

   /* background-color: blue;*/
    /*height: 40px;*/
}

.gridacce{
    grid-area: accesorio;
    
}

.centrartab{
    grid-area: listado;
}

footer {
    grid-area: footer;
    background-color: yellow;

    text-align: center;
    border-radius: 20px;
    background-color:  rgb(11, 85, 75);
    color: white; 
   /* height: 100px;*/
   display: flex;
    align-content: center;
    justify-content: center;
    padding-top:10px ;
}

.bt1{
    display: flex;
    flex-direction: column;
    
}

.btn{
    margin: 10px;
}



